<div class="login-wrap">
    <div class="login-content">
        <div class="login-form">
            <div>
                <label>Email Address</label>
                <input class="au-input au-input--full" type="email" 
                       placeholder="Email" [(ngModel)]="user.email">
            </div>
            <div>
                <label>Password</label>
                <input class="au-input au-input--full" type="password"
                       placeholder="Password" [(ngModel)]="user.password">
            </div>
            <div>
                <label>Confirm Password</label>
                <input class="au-input au-input--full" type="password"
                       placeholder="Confirm Password" [(ngModel)]="user.confirmPassword">
            </div>
            <button class="au-btn au-btn--block au-btn--green m-b-20" type="submit" (click)="register()">register</button>
            <div class="register-link">
                <p>
                    Already have account?
                    <a href="#">Sign In</a>
                </p>
            </div>
        </div>
    </div>
</div>