<div class="page-footer font-small blue pt-4">
  <div class="container-fluid text-center text-md-left">
    <div class="row">
      <div class="offset-1 col-md-4 mt-md-0 mt-3">
        <h2 class="text-uppercase">BoB Manager</h2>
        <p>Just make your life more simple!</p>
      </div>
      <hr class="clearfix w-100 d-md-none pb-3">
      <div class="col-md-3 mb-md-0 mb-3">
        <h4 class="text-uppercase">Pages</h4>
        <ul class="list-unstyled">
          <li>
            <a href="#!">My Wallet</a>
          </li>
          <li>
            <a href="#!">My Tasks</a>
          </li>
          <li>
            <a href="#!">My Events</a>
          </li>
          <li>
            <a href="#!">Home</a>
          </li>
        </ul>
      </div>
      <div class="col-md-3 mb-md-0 mb-3">
        <h4 class="text-uppercase">Links</h4>
        <ul class="list-unstyled">
          <li>
            <a href="#!">GitHub</a>
          </li>
          <li>
            <a href="#!">Trello</a>
          </li>
          <li>
            <a href="#!">Instagram</a>
          </li>
          <li>
            <a href="#!">StackOverflow</a>
          </li>
        </ul>
      </div>
    </div>
  </div>
  <div class="footer-copyright text-center py-3">© 2019 Copyright:
    <a href="https://github.com/NerevitVasyan/BobManager"> Step_Students_IT</a>
  </div>
</div>