<div class="card">
    <div class="card-header">
        <strong class="card-title">-{{item.value}}
            <h3 class="float-right">
                <span class="badge float-right mt-1"[style.background-color]=item.spendingCategory.color>{{item.spendingCategory.name}}</span>
            </h3>
        </strong>
    </div>
    <div class="card-body">
        <p class="card-text">asdasdasdasdasd</p>
    </div>
    <div class="card-footer">
        <strong class="card-title">{{item.date|date:'longDate'}}</strong>
    </div>
</div>