<div class="container">
  <div class="content">
    <div class="logo">
      <a href="#">
        <img src="assets/png/main-logo.png" />
      </a>
    </div>
    <div class="row m-l-10 m-r-10">
      <div class="col-xl-4 col-md-6 col-sm-12 m-t-30">
        <div class="card">
          <div class="card-header text-center">
            <strong class="card-title">Task Management</strong>
          </div>
          <div class="card-body">
            <img class="rounded-circle mx-auto d-block card-img" src="assets/png/home/tasks2PNG.png" alt="Tasks" />
          </div>
          <div class="card-footer">
            <p class="card-text text-wrap">
              You can create some task for you or create group with people.
            </p>
          </div>
        </div>
      </div>
      <div class="col-xl-4 col-md-6 col-sm-12 m-t-30">
        <div class="card">
          <div class="card-header text-center">
            <strong class="card-title">Calendar</strong>
          </div>
          <div class="card-body">
            <img class="rounded-circle mx-auto d-block card-img" src="assets/png/home/calendar2PNG.png"
              alt="calendar" />
          </div>
          <div class="card-footer">
            <p class="card-text text-wrap">
              You can create reminders for events on your calendar so you don't forget about them.
            </p>
          </div>
        </div>
      </div>
      <div class="col-xl-4 col-md-6 col-sm-12 m-t-30">
        <div class="card">
          <div class="card-header text-center">
            <strong class="card-title">Wallet</strong>
          </div>
          <div class="card-body">
            <img class="rounded-circle mx-auto d-block card-img" src="assets/png/home/wallet2PNG.png" alt="wallet" />
          </div>
          <div class="card-footer">
            <p class="card-text text-wrap">
              Record, calculate and control your expenses in your wallet.
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <button class="au-btn au-btn--block au-btn--dark-blue m-b-20 m-t-20 col-6 offset-3">Sign In</button>
  </div>
  <div class="row">
    <button class="au-btn au-btn--block au-btn--blue m-b-20 col-6 offset-3">Register</button>
  </div>
</div>